<ion-header>
  <ion-toolbar color="azul">

    <ion-buttons slot="start">
      <ion-button routerLink="/calendario">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Prova e Tarefa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <h3 class="alinhar">Geografia (Prova)</h3>
    <ion-item>
      Matéria - Pirâmides, Paradigmas
    </ion-item>
  </ion-list>

  <ion-list>
    <h3 class="alinhar">Química (Tarefa)</h3>
    <ion-item>
      Apostila pg 67 a ∞
    </ion-item>
    <ion-item>
      Exercicio 40 a 9202
    </ion-item>
  </ion-list>

  <ion-button expand="full" color="primary" routerLink="/tarefas">Adicionar Nova Notificação</ion-button>
</ion-content>