.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.alinhar{
  text-align: center;
  font-weight: bold;
}
.iconsize{
  font-size: 175%;
}
.fundo{
  background-color: #ffffff; 
  color: #000;
}
.titulo{
  color: #000;
}