.logo{
    margin-top: 60px;
    margin-bottom: 20px;
}
.botoes{
    margin-top: 20px;
}
.centro{
    text-align: center;
    color: #7c7c7c;
}
.botao{
    margin-left: auto;
    margin-right: auto;
}