<ion-content color="branco" padding>
    <img src="https://i.imgur.com/wnptQnw.png" class="logo"/>

      <ion-item>
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-label>Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="lock"></ion-icon>
        <ion-label>Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
 
  <ion-button routerLink="/" expand="block" color="etec" class="botoes botao">Log in</ion-button>
  <ion-button routerLink="/" expand="block" fill="outline" color="etec" class="botao">Sign up</ion-button>

  <ion-item routerLink="/">
    <ion-label class="centro">
      Esqueceu sua senha ?
    </ion-label>
  </ion-item>

</ion-content>