.iconsize{
    font-size: 175%;
}
.centro{
    text-align: center;
    font-size: 20px;
}
.tamanho{
    font-size:20px;
}
.meses{
    font-size: 20px;
    text-align: center;
}
.dias{
    margin-top: 20px;

}
.diasemana{
    margin: 0;
    font-family: monospace;
}
.numdias{
    text-align: center;
    font-size:16px;
    color: #000000;
    margin:0;
}
.numdiasoutromes{
    text-align: center;
    font-size:16px;
    color: #777777;
    margin:0;
}
.seta{
    color: #000000;
}
.botao{
    margin: 0;
}
.tarefa{
    background-color: #70ff70;
}
.prova{
    background-color: #6966ff;
}