<ion-header>
  <ion-toolbar color="azul">

    <ion-buttons slot="start">
        <ion-button routerLink="/calendario">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Tarefa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <h3 class="alinhar">Matematica</h3>
    <ion-item>
      Lista (Dia 08/04/2019)
    </ion-item>
    <ion-item>
      Exercicio 1 a 18
    </ion-item>
  </ion-list>

  <ion-list>
      <h3 class="alinhar">Inglês</h3>
      <ion-item>
        Pagina 13 a 5012
      </ion-item>
      <ion-item>
        Exercicio 25,26,27
      </ion-item>
    </ion-list>

    <ion-button expand="full" color="primary" routerLink="/tarefas">Adicionar Nova Notificação</ion-button>
</ion-content>