<ion-header>
  <ion-toolbar color="azul">

    <ion-buttons slot="start">
      <ion-button routerLink="/calendario">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Prova</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <h3 class="alinhar">Física</h3>
    <ion-item>
      Matéria - Campo Magnético
    </ion-item>
  </ion-list>

  <ion-button expand="full" color="primary" routerLink="/tarefas">Adicionar Nova Notificação</ion-button>
</ion-content>