<ion-header>
  <ion-toolbar color="etec">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon name="calendar" slot="end" class="iconsize"></ion-icon>
    <ion-title>Calendário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-button fill="clear" class="botao seta" routerLink="/fevereiro">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-button>
    <ion-label class="meses">Março</ion-label>
    <ion-button fill="clear" class="botao seta" routerLink="/abril">
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-button>
  </ion-item>


  <ion-grid class="dias">
    <ion-row>
      <ion-col>
        <h6 class="diasemana">Dom</h6>
      </ion-col>
      <ion-col>
        <h6 class="diasemana">Seg</h6>
      </ion-col>
      <ion-col>
        <h6 class="diasemana">Ter</h6>
      </ion-col>
      <ion-col>
        <h6 class="diasemana">Qua</h6>
      </ion-col>
      <ion-col>
        <h6 class="diasemana">Qui</h6>
      </ion-col>
      <ion-col>
        <h6 class="diasemana">Sex</h6>
      </ion-col>
      <ion-col>
        <h6 class="diasemana">Sab</h6>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col routerLink="/tarefas">
        <h6 class="numdiasoutromes">24</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdiasoutromes">25</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdiasoutromes">26</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdiasoutromes">27</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdiasoutromes">28</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">01</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">02</h6>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">03</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">04</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">05</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">06</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">07</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">08</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">09</h6>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">10</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">11</h6>
      </ion-col>
      <ion-col routerLink="/dia-com-tarefa">
        <h6 class="numdias tarefa">12</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">13</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">14</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">15</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">16</h6>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">17</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">18</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">19</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">20</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">21</h6>
      </ion-col>
      <ion-col routerLink="/dia-com-tarefa">
        <h6 class="numdias tarefa">22</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">23</h6>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">24</h6>
      </ion-col>
      <ion-col routerLink="/dia-com-tarefa">
        <h6 class="numdias tarefa">25</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">26</h6>
      </ion-col>
      <ion-col routerLink="/dia-com-tarefa">
        <h6 class="numdias tarefa">27</h6>
      </ion-col>
      <ion-col routerLink="/dia-com-tarefa">
        <h6 class="numdias tarefa">28</h6>
      </ion-col>
      <ion-col routerLink="/dia-com-tarefa">
        <h6 class="numdias tarefa">29</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">30</h6>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col routerLink="/tarefas">
        <h6 class="numdias">31</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdiasoutromes">01</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdiasoutromes">02</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdiasoutromes">03</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdiasoutromes">04</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdiasoutromes">05</h6>
      </ion-col>
      <ion-col routerLink="/tarefas">
        <h6 class="numdiasoutromes">06</h6>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>